@font-face {
    font-family: "SaolDisplay-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("./assets/fonts/SaolDisplay-Regular.eot");
    src: url("./assets/fonts/SaolDisplay-Regular.eot?iefix") format("embedded-opentype"), //?iefix < 모든 익스프레서에 나오게 하기
    url("./assets/fonts/SaolDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/SaolDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/SaolDisplay-Regular.ttf") format("truetype");
    font-display:swap ;
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("./assets/fonts/PlayfairDisplay-Regular.eot");
    src: url("./assets/fonts/PlayfairDisplay-Regular.eot?iefix") format("embedded-opentype"), //?iefix < 모든 익스프레서에 나오게 하기
    url("./assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-display:swap ;
}


@font-face {
    font-family: "Rajdhani-Display";
    font-weight: 700;
    font-style: normal;
    src: url("./assets/fonts/Rajdhani-Bold.eot");
    src: url("./assets/fonts/Rajdhani-Bold.eot?iefix") format("embedded-opentype"), //?iefix < 모든 익스프레서에 나오게 하기
    url("./assets/fonts/Rajdhani-Bold.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Bold.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Bold.ttf") format("truetype");
    font-display:swap ;
}

@font-face {
    font-family: "Rajdhani-Display";
    font-weight: 300;
    font-style: normal;
    src: url("./assets/fonts/Rajdhani-Light.eot");
    src: url("./assets/fonts/Rajdhani-Light.eot?iefix") format("embedded-opentype"), //?iefix < 모든 익스프레서에 나오게 하기
    url("./assets/fonts/Rajdhani-Light.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Light.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Light.ttf") format("truetype");
    font-display:swap ;
}

@font-face {
    font-family: "Rajdhani-Display";
    font-weight: 500;
    font-style: normal;
    src: url("./assets/fonts/Rajdhani-Medium.eot");
    src: url("./assets/fonts/Rajdhani-Medium.eot?iefix") format("embedded-opentype"), //?iefix < 모든 익스프레서에 나오게 하기
    url("./assets/fonts/Rajdhani-Medium.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Medium.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Medium.ttf") format("truetype");
    font-display:swap ;
}

@font-face {
    font-family: "Rajdhani-Display";
    font-weight: 400;
    font-style: normal;
    src: url("./assets/fonts/Rajdhani-Regular.eot");
    src: url("./assets/fonts/Rajdhani-Regular.eot?iefix") format("embedded-opentype"), //?iefix < 모든 익스프레서에 나오게 하기
    url("./assets/fonts/Rajdhani-Regular.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-Regular.woff") format("woff"),
    url("./assets/fonts/Rajdhani-Regular.ttf") format("truetype");
    font-display:swap ;
}

@font-face {
    font-family: "Rajdhani-Display";
    font-weight: 600;
    font-style: normal;
    src: url("./assets/fonts/Rajdhani-SemiBold.eot");
    src: url("./assets/fonts/Rajdhani-SemiBold.eot?iefix") format("embedded-opentype"), //?iefix < 모든 익스프레서에 나오게 하기
    url("./assets/fonts/Rajdhani-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Rajdhani-SemiBold.woff") format("woff"),
    url("./assets/fonts/Rajdhani-SemiBold.ttf") format("truetype");
    font-display:swap ;
}


@font-face {
    font-family: "JSDongkang-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("./assets/fonts/JSDongkang-Regular.eot");
    src: url("./assets/fonts/JSDongkang-Regular.eot?iefix") format("embedded-opentype"), //?iefix < 모든 익스프레서에 나오게 하기
    url("./assets/fonts/JSDongkang-Regular.woff2") format("woff2"),
    url("./assets/fonts/JSDongkang-Regular.woff") format("woff"),
    url("./assets/fonts/JSDongkang-Regular.ttf") format("truetype");
    font-display:swap ;
}

@font-face {
    font-family: 'SCoreDream';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.ttf') format("truetype");
    font-display: swap;
}